.brand {
margin: 0 3%;
font-size: 2rem;
}

.logo {
    height: 50px;
    width: 50px;
    margin-left: 30px;
}

nav li a {
    text-decoration: none;
    margin-right: 80px;
    color: #233142;
    padding: 3px 15px;
    border-radius: 20px;
    font-size: 1.05rem;
}

nav li a:hover {
    background-color: #4F9DA6;
    color: white !important;
}