.sample-paper {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 60px;
    width: 60vw;
    border-radius: 50px;
    background-image: linear-gradient(to right, #FF5959, #4F9DA6);
    color: white;

    h3 {
        margin: 0 30px;
    }

    a {
        margin-right: 8px;
        text-decoration: none;
        background-color: #233142;
        color: #ffbb00;
        font-size: 1.2rem;
        padding: 8px 3vw;
        border-radius: 40px;

        &:hover {
            background-color: #ffcc41;
            color: #233142;
        }

        &:active {
            scale: 0.95;
            transition: scale 0.2 linear;
        }
    }
}