body {
  /* font-family: 'Bigelow Rules', cursive;
  font-family: 'Heebo', sans-serif;
  font-family: 'Mulish', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

hr {
  position: relative;
  top: 100px;
  left: 40%;
  border-style: dotted;
  border-width: 5px;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-top: 5px dotted #233142;
  width: 20%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 200px;
  background-color: #4F9DA6;

  h4 {
    color: white;
  }
  
  a {
    margin-left: 30px;
  }
  
  i {
    color: white;
    scale: 2.5;
  }
}
